<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">

        

            <div class="col s5">
               <center> <h5 class ="white-text">  Réseaux</h5> </center>
                <center><ul>
                        <li>
                            <a class="white-text" href="https://www.facebook.com/EfreestyleDanceCrew/">
                                <i class="small fa fa-facebook-square white-text"></i>&nbsp Facebook
                            </a>
                        </li>
                        <br>
                        <li>
                            <center><a class="white-text" href="https://www.instagram.com/efreestyle_efrei/">
                                <i class="small fa fa-instagram white-text"></i>&nbsp Instagram
                            </a>
                        </li>
                </ul></center>
            </div>
 
        
            <div class="col s4">
                <center><h5 class ="white-text">  Contact</h5></center>
                <ul>
                    <li>
                        <a class= "white-text">
                           <center>EFREESTYLE </center>
                        </a>
                    </li>
                    <li>
                        <a class= "white-text">
                            <center>30 - 32 Avenue de la République</center>
                        </a>
                    </li>
                    <li>
                        <a class= "white-text">
                            <center>94800 Villejuif</center>
                        </a>
                    </li>
                    <li>
                        <center><a class="white-text" href="mailto:efreestyle.efrei@gmail.com">
                            <i class="small fa fa-envelope-square white-text"></i>&nbsp Mail
                        </a></center>
                    </li>
                </ul>
            </div>
        

 
     
            <div class="col s3">
                <center><h5 class ="white-text">  Partenaires</h5></center>
                <center><ul>
                    <li>
                        <a class="white-text" href="https://www.efrei.fr/">
                            Efrei Paris
                        </a>
                    </li>
                </ul>
                </center>
            </div>
       
        </div>                 
    </div>

    </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="grey-text darken-4" href="https://www.linkedin.com/in/thibault-lepez/">Efreesty'Développeurs</a>
        </div>
    </div>
</footer>
       <!---  <div class="col l3 s12 offset-l3">
                <h5 class="white-text">Contact</h5>

            </div>--->