<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                    <li><a class="white-text" href="#Evenement">Evenements</a></li>
                    <li><a class="white-text" href="http://efreestyle.assos.efrei.fr/backup">Ancien site</a></li>
                </ul>
            </div>

            <div class="col l3 s12 offset-l3">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/EfreestyleDanceCrew/">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.instagram.com/efreestyle_efrei/">
                            <i class="small fa fa-instagram white-text"></i> Instagram
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="mailto:efreestyle-crew@gmail.com">
                            <i class="small fa fa-envelope-square white-text"></i> Mail
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="grey-text darken-4" href="https://www.linkedin.com/in/thibault-lepez/">Thibault Lepez</a>
        </div>
    </div>
</footer>
