<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="center"><img class="responsive-img" src="../assets/img/logo.png" style="margin: 0 auto; text-align:center;"></div>
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> L'association de danse de l'<span class="span_h2">EFREI</span><br/>No need to talk, just<span class="span_h2"> Dance</span> </h2>
            </div>
            {% assign pole_array = site.poles | sort: 'order' %}
            {% for pole in pole_array %}
            <div  class="col s12 m6 l3">
                <div class=" promo promo-example">
                    <h5 class="promo-caption center">{{ pole.name }}</h5>
                    <p class="light " style="text-align: justify">{{ pole.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
